<!-- Register Form Start -->
<div class="section">

  <div class="imgs-wrapper">
    <img src="assets/img/veg/11.png" alt="veg" class="d-none d-lg-block">
    <img src="assets/img/prods/3.png" alt="veg" class="d-none d-lg-block">
  </div>

  <div class="container">
    <div class="auth-wrapper">

      <div class="auth-description bg-cover bg-center dark-overlay dark-overlay-2"
        style="background-image: url('assets/img/auth.jpg')">
        <div class="auth-description-inner">
          <i class="flaticon-chili"></i>
          <h2>Hello World!</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="auth-form">

        <h2>Sign Up</h2>

        <form method="post">

          <div class="form-group">
            <input type="text" class="form-control form-control-light" placeholder="Username" name="username" value="">
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-light" placeholder="Email Address" name="email"
              value="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-light" placeholder="Password" name="password"
              value="">
          </div>
          <button type="submit" class="btn-custom primary">Sign Up</button>

          <div class="auth-seperator">
            <span>OR</span>
          </div>

          <div class="social-login">
            <button type="button" class="ct-social-login facebook"><i class="fab fa-facebook-f"></i> Continue with
              Facebook </button>
            <button type="button" class="ct-social-login google"><i class="fab fa-google"></i> Continue with
              Google</button>
          </div>

          <p>Already have an account? <a routerLink='/login'>Login</a> </p>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- Register Form End -->