<app-subheader heading="Menu" [breadcrumbs]="['Home', 'Menu']">
</app-subheader>

<div class="section section-padding menu-v2">
    <div class="container">

        <div class="menu-category dark-overlay dark-overlay-2"
            style="background-image: url('assets/img/categories-lg/1.jpg')">
            <h3>Pizza</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard
            </p>
        </div>
        <div class="row">

            <div *ngFor="let pizza of pizzas" class="col-lg-4 col-md-6">
                <div class="product">
                    <a class="product-thumb" routerLink='/pizza/{{pizza.id}}'>
                        <img src="{{pizza.imageUrl}}" alt="pizza-image" />
                    </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/pizza/{{pizza.id}}'>{{pizza.name}}</a> </h4>
                            <p>
                                {{pizza.description.slice(0, pizza.description.length - 180)}}...
                            </p>
                        </div>
                        <div class="product-controls">
                            <p class="product-price">{{(pizza.price).toFixed(2)}}$</p>
                            <a href="" (click)="addToCart(pizza.id, $event)" class="order-item btn-custom btn-sm shadow-none">
                                Order <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>