<app-subheader heading="Menu" [breadcrumbs]="['Home', 'Menu']"></app-subheader>

<div class="section section-padding menu-v2">
    <div class="container">

        <div class="menu-category dark-overlay dark-overlay-2"
            style="background-image: url('assets/img/categories-lg/1.jpg')">
            <h3>Pizzas</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard
            </p>
        </div>
        <div class="row">

            <!-- Product Start -->
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="favorite">
                        <i class="far fa-heart"></i>
                    </div>
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/1.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Pepperoni</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                        </div>
                        <div class="product-controls">
                            <p class="product-price">12.99$</p>
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i
                                    class="fas fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="favorite">
                        <i class="far fa-heart"></i>
                    </div>
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/2.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Four Cheese</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                        </div>
                        <div class="product-controls">
                            <p class="product-price">12.99$</p>
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i
                                    class="fas fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="favorite">
                        <i class="far fa-heart"></i>
                    </div>
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/3.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Barbeque Chicken</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                        </div>
                        <div class="product-controls">
                            <p class="product-price">12.99$</p>
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i
                                    class="fas fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="favorite">
                        <i class="far fa-heart"></i>
                    </div>
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/4.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Vegetarian</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                        </div>
                        <div class="product-controls">
                            <p class="product-price">12.99$</p>
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i
                                    class="fas fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product End -->

        </div>

    </div>
</div>