<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader-locations.jpg')">
  <div class="container">
    <div class="subheader-inner">
      <h1>Locations</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Locations</li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<!-- Subheader End -->

<!-- Locations Wrapper Start -->
<div class="section">

  <div class="container locations-wrapper">

    <div class="location-item">
      <div class="row">
        <div class="col-md-6">
          <div class="location-item-inner">
            <img src="assets/img/locations/1.jpg" alt="location">
            <div class="location-desc">
              <h3>Slices London</h3>
              <p>Main Branch</p>
            </div>
            <div class="location-info">
              <div class="row">
                <div class="col-6">
                  <span>Cecilia Chapman</span>
                  <span>711-2880 Nulla St.</span>
                  <span>Mankato Mississippi 96522</span>
                </div>
                <div class="col-6">
                  <span> Give us a call: <a href="tel:(257)563-7401">(257) 563-7401</a> </span>
                  <span> Email Us: <a href="mailto:info@slices.com">info@slices.com</a> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ct-contact-map-wrapper">
            <div id="map1" data-lat="51.5" data-lng="-0.09" class="ct-contact-map map" leaflet
              [leafletOptions]="options" [leafletLayersControl]="layersControl"></div>
            <a href="https://maps.google.com/?q=51.5,-0.09" target="_blank" class="btn-custom shadow-none">View in
              Google Maps</a>
          </div>
        </div>
      </div>
    </div>

    <div class="location-item">
      <div class="row">
        <div class="col-md-6">
          <div class="location-item-inner">
            <img src="assets/img/locations/2.jpg" alt="location">
            <div class="location-desc">
              <h3>Slices Washington</h3>
              <p>Secondary Branch</p>
            </div>
            <div class="location-info">
              <div class="row">
                <div class="col-6">
                  <span>Iris Watson</span>
                  <span>P.O. Box 283 8562 Fusce Rd.</span>
                  <span>Frederick Nebraska 20620</span>
                </div>
                <div class="col-6">
                  <span> Give us a call: <a href="tel:(372)587-2335">(372) 587-2335</a> </span>
                  <span> Email Us: <a href="mailto:info@slices.com">info@slices-dc.com</a> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ct-contact-map-wrapper">
            <div id="map2" data-lat="38.319976" data-lng="-77.432370" class="ct-contact-map map" leaflet
              [leafletOptions]="options" [leafletLayersControl]="layersControl"></div>
            <a href="https://maps.google.com/?q=38.319976,-77.432370" target="_blank"
              class="btn-custom shadow-none">View in Google Maps</a>
          </div>
        </div>
      </div>
    </div>

    <div class="location-item">
      <div class="row">
        <div class="col-md-6">
          <div class="location-item-inner">
            <img src="assets/img/locations/3.jpg" alt="location">
            <div class="location-desc">
              <h3>Slices Italy</h3>
              <p>Secondary Branch</p>
            </div>
            <div class="location-info">
              <div class="row">
                <div class="col-6">
                  <span>Celeste Slater</span>
                  <span>606-3727 Ullamcorper. Street</span>
                  <span>Roseville NH 11523</span>
                </div>
                <div class="col-6">
                  <span> Give us a call: <a href="tel:(786)713-8616">(786) 713-8616</a> </span>
                  <span> Email Us: <a href="mailto:info@slices.com">info@slices-italy.com</a> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ct-contact-map-wrapper">
            <div id="map3" data-lat="41.899658" data-lng="12.490060" class="ct-contact-map map" leaflet
              [leafletOptions]="options" [leafletLayersControl]="layersControl"></div>
            <a href="https://maps.google.com/?q=41.899658,12.490060" target="_blank" class="btn-custom shadow-none">View
              in Google Maps</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Locations Wrapper End -->