<app-subheader heading="Checkout" [breadcrumbs]="['Home', 'Cart', 'Checkout']">
</app-subheader>

<section class="section">
  <div class="container">

    <form [formGroup]="checkoutForm" (ngSubmit)="purchase()">
      <div class="row">
        <div class="col-xl-7">

          <h4>Billing Details</h4>

          <app-error-list [errors]="errors"></app-error-list>

          <div class="row">
            <div class="form-group col-xl-6">
              <label> Town / City <span class="text-danger">*</span></label>
              <input type="text" placeholder="Town / City" name="city" class="form-control" formControlName="city">
            </div>
            <div class="form-group col-xl-6">
              <label>Region <span class="text-danger">*</span></label>
              <input type="text" placeholder="Region" name="region" class="form-control" formControlName="region">
            </div>
            <div class="form-group col-xl-12">
              <label>Address <span class="text-danger">*</span></label>
              <input type="text" placeholder="Address" name="address" class="form-control"
                formControlName="description">
            </div>
            <div class="form-group col-xl-12">
              <label>Phone Number <span class="text-danger">*</span></label>
              <input type="tel" placeholder="Phone Number" name="phone" class="form-control"
                formControlName="phoneNumber">
            </div>
            <div class="form-group col-xl-12 mb-0">
              <label>Order Notes</label>
              <textarea name="name" rows="5" class="form-control" placeholder="Order Notes (Optional)"
                formControlName="notes"></textarea>
            </div>
          </div>

        </div>
        <div class="col-xl-5 checkout-billing">
          <table class="ct-responsive-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pizza of cartProducts">
                <td data-title="Product">
                  <div class="cart-product-wrapper">
                    <div class="cart-product-body">
                      <h6>
                        <a routerLink="/pizza/{{pizza.id}}">
                          {{pizza.name}}
                        </a>
                      </h6>
                      <p>{{pizza.size}}</p>
                    </div>
                  </div>
                </td>
                <td data-title="Quantity">x{{pizza.quantity}}</td>
                <td data-title="Total"> <strong>{{(pizza.quantity * pizza.price).toFixed(2)}}$</strong> </td>
              </tr>

              <tr class="total">
                <td>
                  <h6 class="mb-0">Grand Total</h6>
                </td>
                <td></td>
                <td> <strong>{{totalPrice()?.toFixed(2)}}$</strong> </td>
              </tr>
            </tbody>
          </table>

          <p class="small">
            Your personal data will be used to process your order, support your experience throughout
            this website, and for other purposes described in our
            <a class="btn-link" href="#">privacy policy.</a>
          </p>
          <button type="submit" class="btn-custom primary btn-block">
            Place Order
          </button>

        </div>
      </div>
    </form>

  </div>
</section>