<app-subheader heading="Barbeque Chicken" [breadcrumbs]="['Home', 'Menu', 'Barbeque Chicken']">
</app-subheader>

<div class="section product-single">
    <div class="container">

        <app-error-list [errors]="errors"></app-error-list>

        <div class="row">
            <div class="col-md-5">

                <div class="product-thumb">
                    <img src="{{pizza?.imageUrl}}" alt="pizza">
                </div>

            </div>
            <div class="col-md-7">
                <div class="product-content">

                    <h2 class="title">{{pizza?.name}}</h2>

                    <div class="price-wrapper">
                        <p class="product-price">{{(pizza?.price).toFixed(2)}}$</p>
                    </div>

                    <p>
                        {{pizza?.description}}
                    </p>

                    <div class="customize-variations">

                        <div class="customize-size-wrapper">
                            <h5>Size: </h5>
                            <div class="customize-size active" (click)="changeSize(Size.Small, $event)">
                                25"
                            </div>
                            <div class="customize-size" (click)="changeSize(Size.Medium, $event)">
                                30"
                            </div>
                            <div class="customize-size" (click)="changeSize(Size.Large, $event)">
                                36"
                            </div>
                        </div>
                    </div>

                    <form class="atc-form" method="post">
                        <div class="form-group">
                            <label>Quantity</label>
                            <div class="qty">
                                <span class="qty-subtract" (click)="decrement()">
                                    <i class="fas fa-minus"></i>
                                </span>
                                <input type="text" name="qty" [value]="orderQuantity"
                                    (change)="this.orderQuantity = orderQuantity">
                                <span class="qty-add" (click)="increment()">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </div>
                        </div>
                        <button type="submit" name="button" class="btn-custom secondary" (click)="addToCart()">
                            Order <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="product-additional-info">
            <div class="tab-content" id="bordered-tabContent">
                <div class="tab-pane fade show active" id="tab-product-desc" role="tabpanel"
                    aria-labelledby="tab-product-desc-tab">
                    <h4>Description</h4>
                    {{pizza?.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-padding related-products pt-0">
    <div class="container">
        <h3>You might also like</h3>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/5.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Pepperoni</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                            <p class="product-price">12.99$</p>
                        </div>
                        <div class="product-controls">
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">
                                Order <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/3.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Four Cheese</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                            <p class="product-price">14.99$</p>
                        </div>
                        <div class="product-controls">
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">
                                Order <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/1.png"
                            alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>Vegetarian</a> </h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc</p>
                            <p class="product-price">9.99$</p>
                        </div>
                        <div class="product-controls">
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">
                                Order <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>