<app-subheader heading="Cart" [breadcrumbs]="['Home', 'Cart']"></app-subheader>

<section class="section">
  <div class="container">

    <app-error-list [errors]="errors"></app-error-list>

    <table class="ct-responsive-table">
      <thead>
        <tr>
          <th class="remove-item"></th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pizza of cartPizzas">
          <td class="remove">
            <button (click)="removePizza(pizza?.id)" type="button" class="close-btn close-danger remove-from-cart">
              <span></span>
              <span></span>
            </button>
          </td>
          <td data-title="Product">
            <div class="cart-product-wrapper">
              <img src="{{pizza?.imageUrl}}" alt="prod1">
              <div class="cart-product-body">
                <h6> <a routerLink="/pizza/{{pizza?.id}}">{{pizza?.name}}</a> </h6>
                <p>{{pizza?.size}}</p>
              </div>
            </div>
          </td>
          <td data-title="Price"> <strong>{{(pizza?.price).toFixed(2)}}$</strong> </td>
          <td class="quantity" data-title="Quantity">
            <input type="number" class="qty form-control" value="{{pizza?.quantity}}">
          </td>
          <td data-title="Total"> <strong>{{(pizza?.price * pizza?.quantity)?.toFixed(2)}}$</strong> </td>
        </tr>

      </tbody>
    </table>

    <div class="row ct-cart-form">
      <div class="offset-lg-6 col-lg-6">
        <h4>Cart Total</h4>
        <table>
          <tbody>
            <tr>
              <th>Subtotal</th>
              <td>{{totalPrice()?.toFixed(2)}}$</td>
            </tr>
            <tr>
              <th>Tax</th>
              <td> 0.00$ <span class="small">(0%)</span> </td>
            </tr>
            <tr>
              <th>Total</th>
              <td> <b>{{totalPrice()?.toFixed(2)}}$</b> </td>
            </tr>
          </tbody>
        </table>
        <a routerLink="/checkout" class="btn-custom primary btn-block">
          Proceed to Checkout
        </a>
      </div>
    </div>

  </div>
</section>